* {
    cursor: url('img/kunai1.png'), auto;	
}

body {
    background-color: lightblue !important;
    background-image: url("img/toy2.jpg");
    background-size:85%;
}

.container {
    width: 40% !important;
    max-width: 600px !important;
}



/***************************PROFILE PICTURE***************************/

#profile-picture {
    text-align: center;
}

#profile-picture img {
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 5px 4px 7px 3px rgba(0,0,0,0.75);
    width: 150px !important;
    height: 150px !important;
}



/***************************BUTTONS***************************/

section > div {
    margin-bottom: 5%;
}

.btn-linkedin {
    background-color: #007BB6 !important;
}

.btn-github {
    background-color: #444444 !important;
}

.btn-instagram {
    background-color: #B13586 !important;
}

.btn-facebook {
    background-color: #3B5998 !important;
}

.btn-amino {
    background-color: #F77775 !important;
}

.btn:hover {
    transition: 1s all;
    transform: scale(1.2);
    box-shadow: 5px 6px 8px rgb(39, 36, 36);
}



/***************************FOOTER***************************/

footer p, footer a {
    color: white;
    text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

footer a:hover, img:hover {
    font-weight: bold;
    cursor: url('img/kunai2.png'), auto;
}



/***************************@MEDIA***************************/

@media (max-width: 800px) {
    
    .container {
        width: 86% !important;
    }

    section .col-md-10 {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

@media (max-width: 500px) {

    p {
        font-size: 12px;
    }

}

/*@media (max-width: 1024px) and (min-width: 750px){
    p {
        font-size: 2rem;
    }

    img {
        width: 30px;
        height: 30px;
    }
}*/
